<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link th:href="@{/assets/image/favicon_1.ico}" rel="icon">

        <!--  Fonts and icons     -->
        <link rel="stylesheet" th:href="@{/assets/font/font-awesome-4.7.0/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/assets/console/css/googleapis.font.css}">

        <link rel="stylesheet" th:href="@{/assets/plugin/bootstrap-table/bootstrap-table.min.css}"/>
        <link rel="stylesheet" th:href="@{/assets/plugin/sweetalert/sweetalert.css}"/>
        <link rel="stylesheet" th:href="@{/assets/plugin/toastr-2.1.4/toastr.min.css}"/>

        <!-- CSS Files -->
        <link rel="stylesheet" th:href="@{/assets/console/css/material-dashboard.min.css}"/>
        <link rel="stylesheet" th:href="@{/assets/console/css/dyl-reset.css}"/>
    </head>

    <body>
        <div class="preloader">
            <div class="imgloader">
                <img th:src="@{/assets/image/loader/bars.svg}" width="40" alt="loader">
            </div>
        </div>

        <div class="wrapper ">
            <div class="sidebar" data-color="azure" data-background-color="black"
                 th:attr="data-image=@{/assets/console/image/sidebar-1.jpg}">
                <!--
                    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
                    Tip 2: you can also add an image using data-image tag
                -->
                <div class="logo">
                    <a href="http://www.diyiliu.cc" class="simple-text logo-mini">DYL</a>

                    <a href="http://diyiliu.cc" class="simple-text logo-normal">后台管理</a>
                </div>

                <div class="sidebar-wrapper">
                    <div class="user">
                        <div class="photo">
                            <img th:src="@{/assets/console/image/faces/marc.jpg}"/>
                        </div>
                        <div class="user-info">
                            <a data-toggle="collapse" href="javascript: void(0);" class="username">
                                <span th:text="${session.user.name}"></span>
                            </a>
                        </div>
                    </div>
                    <ul class="nav">
                        <li th:each="menu:${session.menus}" class="nav-item"
                            th:classappend="${(menu.getId() == session.active.id || menu.getId() == session.active.pid) ? 'active': ''}">

                            <a th:if="${menu.getType().equals('menu')}" class="nav-link"
                               th:href="@{/{url}(url = ${menu.getController()})}">
                                <i class="material-icons" th:text="${menu.getIconCss()}"></i>
                                <p th:text="${menu.getName()}"></p>
                            </a>

                            <a th:if="${menu.getType().equals('node')}" class="nav-link" data-toggle="collapse"
                               th:attr="aria-expanded=${menu.getId() == session.active.pid? 'true': 'false'}"
                               th:href="${'#' + menu.code}">
                                <i class="material-icons" th:text="${menu.getIconCss()}"></i>
                                <p th:utext="|${menu.getName()}<b class='caret'></b>|"></p>
                            </a>

                            <div th:if="${menu.getType().equals('node')}" class="collapse"
                                 th:classappend="${menu.getId() == session.active.pid? 'show': ''}"
                                 th:id="${menu.code}">

                                <ul class="nav">
                                    <li th:each="child:${menu.children}" class="nav-item "
                                        th:classappend="${child.getId() == session.active.id ? 'active': ''}">
                                        <a class="nav-link" th:href="@{/{url}(url = ${child.getController()})}">
                                            <span class="sidebar-mini">
                                                <i class="fa fa-circle-o"></i>
                                            </span>
                                            <span class="sidebar-normal" th:text="${child.getName()}"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                    <div class="container-fluid">
                        <div class="navbar-wrapper">
                            <div class="navbar-minimize">
                                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list
                                    </i>
                                </button>
                            </div>

                            <div layout:fragment="breadcrumb"></div>
                        </div>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                aria-controls="navigation-index"
                                aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation-example">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-end">
                            <form class="navbar-form" id="searchForm">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form>

                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="javascript:void(0)" id="accountDropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">person</i>
                                        <p class="d-lg-none d-md-block">
                                            Account
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right"
                                         aria-labelledby="accountDropdownMenuLink">
                                        <a class="dropdown-item" href="#">锁屏</a>
                                        <a class="dropdown-item" th:href="@{/console/logout}">退出</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Navbar -->
                <div class="content">
                    <div layout:fragment="container"></div>
                </div>

                <footer class="footer">
                    <div class="container-fluid">
                        <div class="copyright float-right">
                            &copy;
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            , made with by
                            <a href="http://diyiliu.cc" target="_blank">帝一流</a>
                            .
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <!--   Core JS Files   -->
        <script th:src="@{/assets/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/assets/js/popper.min.js}"></script>

        <script th:src="@{/assets/console/js/bootstrap-material-design.min.js}" ></script>
        <script th:src="@{/assets/console/js/bootstrap-selectpicker.js}" ></script>
        <script th:src="@{/assets/console/js/bootstrap-tagsinput.js}" ></script>
        <script th:src="@{/assets/console/js/perfect-scrollbar.jquery.min.js}" ></script>

        <script th:src="@{/assets/plugin/toastr-2.1.4/toastr.min.js}"></script>
        <script th:src="@{/assets/plugin/laydate/laydate.js}"></script>
        <script th:src="@{/assets/plugin/layui/layui.all.js}"></script>
        <script th:src="@{/assets/plugin/sweetalert/sweetalert.min.js}"></script>
        <script th:src="@{/assets/plugin/bootstrap-table/bootstrap-table.min.js}" ></script>

        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script th:src="@{/assets/console/js/material-dashboard.min.js}" ></script>
        <script th:src="@{/assets/console/js/main.js}" ></script>
        <script th:src="@{/assets/console/js/dyl.plugin.js}" ></script>

        <div layout:fragment="pageJs"></div>
    </body>
</html>
