<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout/blog}">
<head>
    <title>DYL博客 - 记录成长过程</title>
    <meta name="keywords" content="编程,java,spring,分布式,设计,DYL博客" />
    <meta name="description" content="DYL博客主要分享一些学习笔记和心得，以软件开发为主。记录日常解决问题的过程，帮助大家尽快爬出代码开发中的坑！" />
</head>
<body>

<div layout:fragment="title" class="row mb-4">
    <div class="col-md-6">
        <h2 class="mb-4" th:text="'#  ' + ${tag}"></h2>
    </div>
</div>
<div layout:fragment="main" class="col-md-12 col-lg-8 main-content">
    <div class="row mb-5">
        <div class="col-md-12">
            <div class="post-entry-horzontal" th:each="art: ${articles}">
                <a th:href="@{/article/{id}(id = ${art.id})}">
                    <div th:if="${art.resImg != null}" class="image element-animate" data-animate-effect="fadeIn"
                         th:style="'background-image: url(' + @{/image/pic/2018/{img}(img = ${art.resImg})}  + ');'">
                    </div>
                    <div th:if="${art.resImg == null}" class="image element-animate" data-animate-effect="fadeIn"
                         style="border: 1px solid #e6e6e6;">
                        <p class="overview" th:text="${art.overview}"></p>
                    </div>

                    <span class="text">
                      <div class="post-meta">
                        <span class="category" th:text="${art.tagList[0].name}">Travel</span>
                        <span class="mr-2" th:text="${art.createTime}"> </span> &bullet;
                        <span class="ml-2" th:utext="|<span class='fa fa-eye'></span>&nbsp;${art.seeCount}|"></span>
                      </div>
                      <h2 th:text="${art.title}"></h2>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>